.hero-unit
  %h2 おすすめサービス
  - @hot_services.each do |service|
    = link_to service.name

.row
  .span4
    %h3 ビジネス
    - @business.each do |service|
      = link_to service.name, service_path(service)
  .span4
    %h3 教育
    - @education.each do |service|
      = link_to service.name, service_path(service)
  .span4
    %h3 音楽
    - @music.each do |service|
      = link_to service.name, service_path(service)
