.hero-unit
  %h2 おすすめサービス
  - @hot_services.each do |service|
    = link_to service.name, service_path(service)

.row
  .span4
    %h3 教育
    %ul
      - @education.each do |service|
        %li= link_to service.name, service_path(service)
  .span4
    %h3 生活
    %ul
      - @life.each do |service|
        %li= link_to service.name, service_path(service)
