%h2 開発中のサービス一覧
= link_to "サービス一覧に戻る", services_path

%table
  %tr
    %th サービス名
    %th URL

  - @services.each do |service|
    %tr
      %td= service.name
      %td= service.url
      %td= link_to "詳細", make_service_path(service.id)