.page-header
  %h2 フィードバック確認画面
%p
  = link_to "<< 開発中のサービス一覧に戻る", make_services_path, :class => "btn"

%table.table.table-bordered.back-white
  %tbody
    - @entries.each do |entry|
      %tr.feedback-box
        %td.feedback-desc
          %p
            = entry.content
          .feedback-user
            = entry.user_name
            = feedback_time(entry.created_at)
