%h1 グループ詳細

%table
  %tr
    %td
      グループ名
    %td
      = @group.name

  %tr
    %td
      アカウント登録制限数
    %td
      = @group.account_limit

%table
  %tr
    %th サービス名

  - @services.each do |service|
    %tr
      %td
        = link_to service.name, group_service_path(@group.id, service.id)

= link_to "サービスの追加", new_group_service_path(@group.id)
