/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
 *= require bootstrap-responsive.css
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.main-frame {
  border: 1px solid #bbb;
}

.chat-box {
  height: 200px;
  width: 94%;
}

.navbar-text {
  margin-right: 20px;
}

.table-divided {
  width: 25%;
  height: 80px;
  border: 1px solid #dddddd;
}

.hot-image {
  width: 10%;
  height: 120px;
  border-right: none;
}

.hot-desc {
  width: 40%;
  height: 120px;
  border-left: none !important;
}

.feedback-box {
  height: 150px;
}

.feedback-image {
  width: 20%;
  border-right: none;
}

.feedback-desc {
  width: 80%;
  border-left: none !important;
  position: relative;
}

.feedback-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.page-header h2 {
  display: inline-block;
}

.table.back-white {
  background-color: white;
}